.arrivals {
  padding-top: 120px;
  padding-bottom: 143px;
}
@media (max-width: 1230px) {
  .arrivals {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
.arrivals__header {
  margin-bottom: 100px;
}
@media (max-width: 1230px) {
  .arrivals__header {
    margin-bottom: 40px;
  }
}
.arrivals__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 131px;
  row-gap: 30px;
}
@media (max-width: 1700px) {
  .arrivals__cards {
    column-gap: 30px;
  }
}
@media (max-width: 1230px) {
  .arrivals__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .arrivals__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}