.promo {
  margin-bottom: 63px;
}
@media (max-width: 768px) {
  .promo {
    margin-bottom: 40px;
  }
}
.promo__content {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  padding-top: 68px;
  padding-left: 120px;
  border-radius: 59px;
  background-color: #f4f6f5;
}
@media (max-width: 1600px) {
  .promo__content {
    flex-direction: column;
    align-items: center;
    padding: 68px 40px 0;
    overflow: hidden;
  }
}
.promo__title {
  max-width: 480px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.25;
}
@media (max-width: 1480px) {
  .promo__title {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    line-height: 1.45;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .promo__title {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .promo__title {
    font-size: 28px;
  }
}
.promo__desc {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -0.05em;
}
@media (max-width: 1480px) {
  .promo__desc {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .promo__desc {
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  .promo__desc {
    font-size: 18px;
  }
}
.promo__btn-wrapper {
  display: flex;
  column-gap: 34px;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .promo__btn-wrapper {
    width: 100%;
    justify-content: center;
  }
}
.promo__btn-wrapper::before {
  content: "";
  display: inline-block;
  width: 190px;
  height: 32px;
  background-image: url("./../../img/icons/decor-yellow.svg");
}
@media (max-width: 768px) {
  .promo__btn-wrapper::before {
    display: none;
  }
}
.promo__img {
  padding-right: 80px;
  flex: 1 1 100%;
  align-self: flex-end;
}
@media (max-width: 1600px) {
  .promo__img {
    align-self: auto;
    padding-right: 0;
  }
}
.promo__img img {
  width: 100%;
  object-fit: cover;
}
.promo__text {
  max-width: 606px;
  flex: 1 1 100%;
}
@media (max-width: 7680px) {
  .promo__text {
    width: 100%;
    text-align: center;
  }
}
.promo__btn {
  padding: 18px 40px;
  background: #000000;
  border-radius: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: #fff;
}
@media (max-width: 768px) {
  .promo__btn {
    font-size: 24px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .promo__btn {
    font-size: 16px;
  }
}

.highlight {
  position: relative;
  display: inline-block;
}
.highlight span {
  position: relative;
  z-index: 1;
}
.highlight::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  bottom: 0px;
  left: -40px;
  right: -170px;
  background-color: #fff;
  transform: rotate(-2deg);
}
@media (max-width: 1480px) {
  .highlight::before {
    left: -140px;
  }
}
@media (max-width: 768px) {
  .highlight::before {
    top: 0;
  }
}
.highlight--yellow::before {
  right: -100px;
  background-color: var(--yellow);
}
.highlight--payday::before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  bottom: 10px;
  left: -20px;
  right: -30px;
  background-color: #fff;
  transform: rotate(-2deg);
}
@media (max-width: 1480px) {
  .highlight--payday::before {
    right: 50px;
  }
}
@media (max-width: 768px) {
  .highlight--payday::before {
    right: 32px;
    bottom: 0;
    top: -4px;
  }
}