.favourite {
  padding-top: 120px;
  padding-bottom: 143px;

  @media (max-width:1230px) {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @media (max-width: 768px) {
    padding-bottom: 30px;
  }

  &__header {
    margin-bottom: 100px;

    @media (max-width:1230px) {
      margin-bottom: 40px;
    }

    @media (max-width:500px) {
      margin-bottom: 20px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 47px;
    row-gap: 30px;

    @media (max-width:1230px) {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 20px;
    }
  }
}