.arrivals {
  padding-top: 120px;
  padding-bottom: 143px;

  @media (max-width:1230px) {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  &__header {
    margin-bottom: 100px;

    @media (max-width:1230px) {
      margin-bottom: 50px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 131px;
    row-gap: 30px;

    @media (max-width:1700px) {
      column-gap: 30px;
    }

    @media (max-width:1230px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}