.brands {
  padding: 60px 0 55px;
  background-color: var(--yellow);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    mix-blend-mode: multiply;
    flex-wrap: wrap;
  }
}