.footer {
  padding-top: 119px;
  padding-bottom: 147px;
  background-color: #000000;
  color: #8E8E8E;

  &__left {
    max-width: 415px;
  }

  &__logo {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 32px;
    display: inline-block;
  }

  &__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }

  &__social-link {
    display: block;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.17);
    }
  }

  &__socials-list {
    display: flex;
    gap: 14px;
  }

}