.footer {
  padding-top: 119px;
  padding-bottom: 147px;
  background-color: #000000;
  color: #8E8E8E;

  @media (max-width: 968px) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 50px;

    @media (max-width:1480px) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    max-width: 415px;

    @media (max-width:1480px) {
      display: flex;
      gap: 50px;
      max-width: 100%;
    }

    @media (max-width: 968px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 32px;
    display: inline-block;

    @media (max-width:1480px) {
      flex: 0 1 33.333%;
      margin: 0;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    @media (max-width:1480px) {
      flex: 0 0 33.333%;
      margin: 0;
    }

    @media (max-width: 968px) {
      text-align: center;
    }
  }

  &__social-link {
    display: block;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.17);
    }
  }

  &__socials-list {
    display: flex;
    gap: 14px;
    flex: 0 0 33.333%;

    @media (max-width:1480px) {
      justify-content: flex-end;
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #fff;
      content: "";
      transition: width .3s ease-out, color .3s ease-in-out;
    }

    &:hover {
      color: #fff;

      &::after {
        width: 100%;
      }
    }
  }

  &__right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width:1480px) {
      justify-content: space-between;
    }

    @media (max-width: 968px) {
      row-gap: 85px;
      column-gap: 100px;
    }
  }

  &__list {
    width: 270px;

    @media (max-width:1480px) {
      width: auto;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 968px) {
        margin-bottom: 15px;
      }
    }

    &:first-child {
      color: #D9D9D9;
    }
  }
}